
body{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    
}

main{
   display: grid;
   background-image: url('/img/fundo.png') ; 
   background-size: cover;
   background-repeat: no-repeat;
   grid-template-columns:  repeat(6, 1fr);   
   grid-template-rows: 715px 600px 2450px  500px 60px;
   overflow-x: hidden;  
   grid-template-areas:

   "s c c c c c"
   "s i i i i i"
   "s f f f f f"
   "s e e e e e"
   "s r r r r r "
;
}

#div3,#div5, footer{
    display: flex;
}