/* DIV4 - Formulário */

#div4{
    grid-area: p;
    background-color: rgba(255, 255, 255, 0.925);
    margin-right: 10px !important;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-wrap: wrap;
}

.nome, .email, .fone, .cel{
    width: 50%;
}



.assunto{
    display: flex;
    width: 100%;
}
.ast{
    width: 50%;
}

.pref{
    width: 50%;
}
.nome input{
    width: 95%;
}

.assunto input{
    width: 50%;
}



.email input{
    width: 95%;
}

.cel input{
    width: 95%;
}

#div4,#p4{
    display: block;
    margin:0px auto;
    font-family: var(--fontprincipal);
    font-size: 24pt;

}

#div4,h2{
    display: block;
    margin:0px auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: var(--fontprincipal);
    font-size: 44pt;

}


#p4s{
    font-size: 14pt;
    margin:0px auto;
    font-family: var(--fontsecundario);
    margin-bottom: 50px;
    text-align: center;
}

#hf{
    display: block;
    margin:0px auto;
    font-family: Aleo;
    font-size: 34pt;
    margin-bottom: 30px;
}

#assunto, #preferencia{
    width: 46%;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    border-color: rgb(0, 81, 255, 0.3);
} 

textarea{
    height: 20vh;
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    border-color: rgb(0, 81, 255, 0.3);
} 

label input{
    margin-top: 10px;
    height: 25px;
    border-radius: 25px;
    border-style: solid;
    padding: 5px 5px 10px 10px;
    padding-left: 10px;
    border-color: rgb(0, 81, 255, 0.3);
} 

#enviar{
    padding: 10px;
    width: 125px;
    border-style: solid;
    border-color: rgb(31, 157, 230);
    border-radius: 25px;
    color: black;
    font-size: 14pt;
    font-family: Aleo;
    margin: 25px auto;
    text-align: center;

}
